body{
  font-family: arial, helvetica,sans-serif;
  padding: 0;
  margin: 0;
  background: white;
}

.container{
  width: 100%;
  overflow: hidden;
}

header{
  background:#004d66;
  color: white;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: pink 7px soild;
}


header a {
  color: white;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;


}


header li{
  float: right;
  display: inline;
  width: 15%;
  text-align: center;

}

header nav{
  float: center;
}

header a:hover{

  font-weight: bold;
}

#Information{
  min-height: 400px;
  width: 1349px;
  background: url('../pictures/Support.png');
  background-repeat: no-repeat;
  background-size:100% 100%;
  color:white;
  text-align: center;
}



#boxes .box{
  text-align: center;
  border-bottom: #004d66 3px solid;

}

#boxes .box img{
  width: 200px

}



#close footer{
  color: black;
  background:#004d66;
  width: 1349px;
  text-align: center;
}

.surrond{
  padding: 15px;
  background: #e6e6e6;
  color: black;
 

}
